<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Proposal Maker</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="logo">
        <i class="fa fa-briefcase" aria-hidden="true"></i> Proposal Maker
      </div>
      <div class="menu">
        <a href="javascript:void(0);" onclick="showMenu()"
          ><i class="fa fa-bars" aria-hidden="true"></i
        ></a>
      </div>
    </header>

    <!-- CONTENT -->
    <main>
      <div id="sidebar" class="menu_lateral">
        <a href="/" class="btnMenu" style="border-right: 3px solid #2088ea"
          ><i class="fa fa-home" aria-hidden="true"></i
        ></a>
        <a href="formulario" class="btnMenu"
          ><i class="fa fa-briefcase" aria-hidden="true"></i
        ></a>
        <a href="precos" class="btnMenu"
          ><i class="fa fa-money" aria-hidden="true"></i
        ></a>
        <a href="sobre" class="btnMenu"
          ><i class="fa fa-info-circle" aria-hidden="true"></i
        ></a>
      </div>
      <div class="content">
        <p>
          Seja bem vindo ao gerador de propostas comerciais!<br /><br />O
          sistema foi desenvolvido para facilitar a criação de propostas
          comerciais de serviços de telecomunicações em inglês. Para criar sua
          proposta clique no segundo ícone na barra lateral, ou se estiver no
          celular, abra o menu para visualizar a barra lateral.<br /><br />O
          Proposal Maker ainda disponibiliza a possibilidade de alterar os
          valores das tabelas de preços aprovados.<br /><br />Ao final do
          cadastro, a proposta será gerada em PDF, podendo ser enviada para os
          clientes de forma mais rápida e acertiva.
        </p>
      </div>
    </main>
  </body>
</html>
<script>
  // função para mostrar o menu lateral quando a tela for de celular
  function showMenu() {
    var x = document.getElementById("sidebar");
    if (x.style.display === "flex") {
      x.style.display = "none";
    } else {
      x.style.display = "flex";
    }
  }
</script>
