<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Proposal Maker</title>
</head>

<body>
    <header>
        <img src="../img/logo.png" class="logo">
        <div class="menu">
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="formulario">Formulário</a></li>
                <li><a href="sobre">Sobre</a></li>
            </ul>
        </div>
    </header>

    <main>
        <p>Seja bem vindo ao gerador de propostas comerciais Proposal Maker! Clique em Formulário para criar uma proposta.</p>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem natus praesentium nemo aliquam repellat
            nostrum eaque reprehenderit, ratione alias doloremque dolor sapiente placeat labore beatae libero?
            Voluptatem harum reprehenderit sunt?</p>
    </main>

    <footer>Developed by Kessyus Fófano in 2021.</footer>
</body>

</html>