<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Proposal Maker</title>
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <div class="logo">
        <i class="fa fa-briefcase" aria-hidden="true"></i> Proposal Maker
      </div>
      <div class="menu">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </header>

    <!-- CONTENT -->
    <main>
      <div class="menu_lateral">
        <a href="/" class="btnMenu"
          ><i class="fa fa-home" aria-hidden="true"></i
        ></a>
        <a href="formulario" class="btnMenu"
          ><i class="fa fa-briefcase" aria-hidden="true"></i
        ></a>
        <a href="precos" class="btnMenu" style="border-right: 3px solid #2088ea"
          ><i class="fa fa-money" aria-hidden="true"></i
        ></a>
        <a href="sobre" class="btnMenu"
          ><i class="fa fa-info-circle" aria-hidden="true"></i
        ></a>
        <a href="#" class="btnMenu"
          ><i class="fa fa-user-circle-o" aria-hidden="true"></i
        ></a>
        <a href="#" class="btnMenu"
          ><i class="fa fa-sign-out" aria-hidden="true"></i
        ></a>
      </div>
      <div class="content">
        <section>
          <div class="slice">
            <div class="title"><h1>Edição de Preços e Impostos</h1></div>
            <div class="form-group">
              <ul>
                <li>
                  <a href="precosMPLS" class="report" ><i class="fa fa-database" aria-hidden="true"></i> Tabela de Preços - MPLS</a >
                </li>
                <li>
                  <a href="precosDIA" class="report" ><i class="fa fa-database" aria-hidden="true"></i> Tabela de Preços - Dedicated Internet Access</a >
                </li>
                <li>
                  <a href="precosBBD" class="report" ><i class="fa fa-database" aria-hidden="true" /></i> Tabela de Preços - Broadband Internet Access</a >
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
