@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* PALETA DE CORES */
ignore_menu {
  color: #424242;
}
ignore_sidebar {
  color: #f3f3f3;
}
ignore_button {
  color: #2088ea;
}
ignore_button_cancel {
  color: #d33030;
}
ignore_background {
  color: #fafafa;
}

/* APP */
* {
  margin: 0;
  padding: 0;
  outline: none;
}

/* BODY */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Exo 2", sans-serif;
  background-color: #fafafa;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #424242;
  border-bottom: 1px solid black;
  color: white;
  width: 100%;
}

/* HEADER */
header .logo {
  padding: 20px;
  font-size: 20px;
}

header .menu {
  padding: 20px;
}

header .menu a {
  color: white;
}

/* MAIN */
main {
  display: flex;
  flex: 1;
  width: 100%;
}

/* SIDEBAR */
.menu_lateral {
  margin-right: 10px;
  background-color: #f3f3f3;
  width: 80px;
  box-shadow: 0px 20px 14px #888888;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btnMenu {
  box-sizing: border-box;
  width: 80px;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}
.btnMenu:hover {
  background: #e0e0e0;
  border-right: 3px solid #2088ea;
}

/* CONTENT */
.content {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
}

/* SECTION */
section {
  padding: 10px;
}

section p {
  text-align: center;
}

/* FORM SLICE */
.slice {
  color: #5d5c61;
  border-radius: 5px;
  background-color: white;
  border: solid 1px #e0e0e0;
  padding: 20px;
  box-shadow: 0px 2px 2px #888888;
}

.title {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #424242;
}

.form-group {
  padding: 5px;
}

label {
  margin: 0 10px 10px 0;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  margin-top: 5px;
  padding: 5px 10px;
  border: thin #eee solid;
  border-radius: 3px;
  width: 96%;
  font-size: 14px;
}

select {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.btn {
  outline: none;
  padding: 10px;
  border: thin #ccc solid;
  border-radius: 4px;
  background-color: #2088ea;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

li {
  padding: 10px;
  margin-left: 20px;
}

.report {
  text-decoration: none;
  color: #424242;
}
