* {
    margin: 0;
    padding: 0;
    outline: none;
}

/* MAIN */
main {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* HEADER */
header .logo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header .menu {
    background: deepskyblue;
}

header .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background: deepskyblue;
}
  
 header .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
  
header .navigation a:hover {
    background: #1565C0;
}

/* SECTION */
section {
    padding: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* FORM SLICE */
.slice {
    border-radius: 25px;
    background-color: lightgrey;
    border: solid 2px black;
    padding: 20px;
    min-width: 500px;
    display: block;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.form-group {
    padding: 5px;
    display: flex;
    flex-flow: column;
}